body {font-variant: arial;}
.small {
  font-size: 0.8em;
}

.qlassik {
  font-family: Qlassik, verdana, helvetica, sans-serif;
}

a,
a:active,
a:visited {
  color:#1A8D33;
}
a:hover {
  color:#1A8D33;
}

.green,
.green a,
.green a:active,
.green a:visited,
.green a:hover {
  color: #1A8D33;
  text-shadow: #cacaca -1px 1px 2px;
}

.green-button {
  display: inline-block;
  border: 1px solid #0f330f;
  overflow:none;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.green-button a,
.green-button a:active,
.green-button a:visited {
  display: inline-block;
  padding:0.4em 0.5em;
  background-color: #366b37;
  color: #fff;
  border: 1px solid #3BAF54;
  text-shadow: #0f330f -1px 1px 1px;
  text-decoration:none;
  -moz-bourder-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-image: -webkit-gradient(radial, center center,0, center center, 40, from(#3BAF54), to(#366b37));
  background-image: -moz-radial-gradient(center 45deg, circle closest-corner, #3BAF54 0, #366b37 2em );
  background-image: radial-gradient(center 45deg, circle closest-corner, #3BAF54 0, #366b37 2em);
}
.green-button a:hover {
  color: #fff;
  background-color: #3BAF54;
  background-image: -webkit-gradient(radial, center center,0, center center, 70, from(#3BAF54), to(#366b37));
  background-image: -moz-radial-gradient(center 45deg, circle closest-corner, #3BAF54 0, #4c9d4e 50%, #366b37 100%);
  background-image: radial-gradient(center 45deg, circle closest-corner, #3BAF54 0, #366b37 100%);
}

#shine {
  background-image: -webkit-gradient(radial, center 120%,0, center 120%, 600, from(rgba(250,161,34,200)), to(rgba(255,255,255,0)));
  background-image: -moz-radial-gradient(center 120% 45deg, circle closest-corner, rgba(250,161,34,200) 0%, rgba(255,255,255,0) 120%);
  background-image: radial-gradient(center 120% 45deg, circle closest-corner, rgba(250,161,34,200)/* #FAA122 */ 0%, rgba(255,255,255,0) /* #366b37 */ 120%);
}
