/*
  The footer css rules
*/
footer {
  border-top: 3px solid #4E734A;

  background-image: -webkit-gradient(linear, left top, left bottom, from(#436D3F), to(#314633));
  background: -moz-linear-gradient(top, #436D3F, #314633 100%);
  background-image: linear-gradient(top, #436D3F, #314633 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#436D3F', endColorstr='#314633');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#436D3F', endColorstr='#314633')";
  zoom:1;
}
footer .container_24 {
  padding: 2em 0;
}

/* style first widget area: menus */
.xoxo, .xoxo ul.menu {
  margin:0;
  list-style-type: none;
  list-style-image: none;
  }
.xoxo li.widget-container.widget_nav_menu {
  display: block;
  float: left;
  padding: 0 4em 0 0;
}
.xoxo .widget_nav_menu h3 {
  color: #fff;
  font-weight: bold;
  line-height:2em;
  font-size: 1.1em;
}

.xoxo li.widget-container .menu-item a,
.xoxo li.widget-container .menu-item a:active,
.xoxo li.widget-container .menu-item a:visited {
  color: #fff;
  text-decoration: none;
  }

.xoxo li.widget-container .menu-item a:hover {
  text-decoration: underline;
  }
