/*
  header theme.
*/
.download{
  float :right;
}
.ribbon {
  font-size:1.2em;
  background-color: #a00;
  overflow: hidden;
  padding:0.3em 0;
  /* top left corner */
  position: absolute;
  right: -3.4em;
  top: 2.5em;
  /* 45 deg ccw rotation */
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  /* shadow */
  -moz-box-shadow: 0 0 1em #888;
  -webkit-box-shadow: 0 0 1em #888;
  min-width:240px;
}
.ribbon a {
  border: 1px dashed #faa;
  color: #fff;
  display: block;
  font: bold;
  font-family: Qlassik, verdana, helvetica, sans-serif;
  margin: 0.05em 0 0.075em 0;
  padding: 0.2em 3.5em;
  text-align: center;
  text-decoration: none;
  /* shadow */
  text-shadow: 0 0 0.5em #444;
}

body #header {
  position: relative;
  overflow: hidden;
}
body header h1,
body header h1 a {
    border: none;
    height: 180px;
    width: 180px;
    display: block;
  }
body header h1 a {
    text-indent: -999em;
    background-image: url("../images/carpehora_logo.png");
    background-position: left center;
    background-repeat: no-repeat;
  }

body nav #skip {
  display:none;
}
body nav .menu {
  height: 180px;
}
body nav .menu li {
  margin-top:60px;
  padding: 0 0.3em;
  display: inline-block;
  font-size: 1.7em;
}
body nav .menu li a,
body nav .menu li a:active,
body nav .menu li a:visited {
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-weight: bold;
}
body nav .menu li.current_page_item a{
  border-bottom: 0.4em solid #ea653a;
}
body nav .menu li a:hover {
  border-bottom: 0.4em solid #ea4913;
}
