/*
 *this is tha main css for gh-pages
 *
 */
@import url("960_24_col.css");
@import url("fonts.css");
*{
  margin:0;
  padding:0;
}

body header h1 a {
    text-indent: -999em;
    background-image: url("../images/carpehora_logo.png");
    background-position: left center;
    background-repeat: no-repeat;
    border: none;
    height: 180px;
    width: 180px;
    display: block;
}

.repotitle a{
  color:#4E734A;
  text-shadow: -1px 1px 2px #CACACA;
  font-weight: bold;
  text-decoration: none;
  font-size:1.1em;
  font-family: Qlassik,verdana,helvetica,sans-serif;
}

.pagetitle{
  color: #1A8D33;
  margin-top:50px;
  font-size: 2em;
  font-family: Qlassik,verdana,helvetica,sans-serif;
}

.repo{
  margin-left:35px;
}

code{
  border: 1px solid gray;
  margin:5px;
  padding:15px;
  display:block;
}
/** main container */

#content {
  margin-top: 20px;
}

#content a {
  text-decoration: none;
}

#content a:hover {
  text-decoration: underline;
}

/** articles content */

#content .content p {
  margin-bottom: 10px;
}
