<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" type="text/css" media="all" href="/css/style.css" />
  <title>{{ page.title }}</title>
</head>

<body>
  <div id="header">
    <div class="container_24" id="header-content">
      <header class="grid_6" role="banner">
        <h1><a rel="home" title="Carpe Hora" href="http://www.carpe-hora.com/">Carpe Hora</a></h1>
      </header>
      <nav class="prefix_2 grid_16 qlassik green" role="navigation" id="access">
        <div class="menu-header">
          <ul class="menu" id="menu-main">
            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-306" id="menu-item-306"><a href="http://www.carpe-hora.com/">accueil</a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-309" id="menu-item-309"><a href="http://www.carpe-hora.com/qui-sommes-nous/">L’entreprise</a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-55 current_page_item current_page_parent menu-item-307" id="menu-item-307"><a href="http://www.carpe-hora.com/blog-technique/">Technique</a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-308" id="menu-item-308"><a href="http://www.carpe-hora.com/nous-contacter/">Nous contacter</a></li>
          </ul>
        </div>
      </nav>
    </div>

  </div><!-- #header-content -->
  <section id="content" role="main">
    <div class="container_24">
      <div class="grid_24">
        <section class="content grid_18">
          {{content }}
        </section>
        <section id="sidebar" class="grid_6">
          <div id="sidebar_content">
            <ul class="xoxo">
              <li>
                <form action="http://www.carpe-hora.com/" id="searchform" method="get" role="search">
                <div><label for="s" class="screen-reader-text">Recherche pour:</label>
                <input type="search" id="s" name="s" value="" placeholder="Search for...">
                <input type="submit" value="Recherche" id="searchsubmit">
                </div>
                </form>
              </li>

              <li>
                <h3>Archives</h3>
                <ul>
                  <li><a title="juillet 2011" href="http://www.carpe-hora.com/2011/07/">juillet 2011</a></li>
                  <li><a title="juin 2011" href="http://www.carpe-hora.com/2011/06/">juin 2011</a></li>
                  <li><a title="mai 2011" href="http://www.carpe-hora.com/2011/05/">mai 2011</a></li>
                  <li><a title="avril 2011" href="http://www.carpe-hora.com/2011/04/">avril 2011</a></li>
                  <li><a title="février 2011" href="http://www.carpe-hora.com/2011/02/">février 2011</a></li>
                  <li><a title="janvier 2011" href="http://www.carpe-hora.com/2011/01/">janvier 2011</a></li>
                  <li><a title="décembre 2010" href="http://www.carpe-hora.com/2010/12/">décembre 2010</a></li>
                  <li><a title="novembre 2010" href="http://www.carpe-hora.com/2010/11/">novembre 2010</a></li>
                  <li><a title="novembre 2009" href="http://www.carpe-hora.com/2009/11/">novembre 2009</a></li>
                  <li><a title="janvier 2009" href="http://www.carpe-hora.com/2009/01/">janvier 2009</a></li>
                  <li><a title="décembre 2008" href="http://www.carpe-hora.com/2008/12/">décembre 2008</a></li>
                  <li><a title="novembre 2008" href="http://www.carpe-hora.com/2008/11/">novembre 2008</a></li>
                </ul>
              </li>

              <li>
                <h3>Meta</h3>
                <ul>
                  <li><a href="http://www.carpe-hora.com/wp-login.php">Connexion</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </section><!--end grid6 -->
      </div><!--end grid24 -->
    </div><!--end container 24 -->
  </section><!--end main -->
</body>
</html>
