<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" type="text/css" media="all" href="/css/style.css" />
  <title>{{ page.title }}</title>
</head>

<body class="project-readme">
  <div id="header">
    <div class="container_24" id="header-content">
      <header class="grid_6" role="banner">
        <h1><a rel="home" title="Carpe Hora" href="http://www.carpe-hora.com/">Carpe Hora</a></h1>
      </header>
          <h1 class="title">
            {{ page.title }}
          </h1>
    </div>

  </div><!-- #header-content -->
  <section id="content" role="main">
    <div class="container_24">
      <div class="grid_24">
          <div class="content">
            {{content }}
          </div>
      </div>
    </div>
  </section>
</body>
</html>


