<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" type="text/css" media="all" href="/css/style.css" />
  <title>{{ page.title }}</title>
</head>

<body>
  <div id="header">
    <div class="ribbon">
      <a rel="me" href="http://www.carpe-hora.com/reserver-le-bureau/">Réservez notre bureau</a>
    </div>

    <div class="container_24" id="header-content">
      <header class="grid_6" role="banner">
        <h1><a rel="home" title="Carpe Hora" href="http://www.carpe-hora.com/">Carpe Hora</a></h1>
      </header>
    </div>

  </div><!-- #header-content -->

  {{content }}

</body>
</html>


